.login-box {
    margin: 15% auto;
    width: 300px;
}
.row {
    width: 100%;
}

label {
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    color: #999;
    display: block;
    padding-bottom: 4px;
    text-align: left;
}

.btn {
    padding: 10px 0;
    background: #fff;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    display: inline-block;
}

.fb {
    border: solid 1px #3b5998;
    color: #3b5998;
}

.fb:hover {
    color: #fff;
    background-color: #3b5998;
}

.tw {
    margin-top: 15px;
    border: solid 1px #4099ff;
    color: #4099ff;
}

.tw:hover {
    color: #fff;
    background-color: #4099ff;
}

.date {
    font-size: 11px;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    line-height: 29px
}