.header {
    padding: 20px 0;
}

.header .user  a {
    margin-left: 15px;
    display: inline-block;
}

.body {
    padding-top: 15px;
    background-color: #f1f1f1;
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.16);
}

.login-box {
    margin: 15% auto;
    width: 300px;
}
.row {
    width: 100%;
}

label {
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    color: #999;
    display: block;
    padding-bottom: 4px;
    text-align: left;
}

.btn {
    padding: 10px 0;
    background: #fff;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    display: inline-block;
}

.fb {
    border: solid 1px #3b5998;
    color: #3b5998;
}

.fb:hover {
    color: #fff;
    background-color: #3b5998;
}

.tw {
    margin-top: 15px;
    border: solid 1px #4099ff;
    color: #4099ff;
}

.tw:hover {
    color: #fff;
    background-color: #4099ff;
}

.date {
    font-size: 11px;
    float: left;
}

.author {
    font-size: 11px;
    float: right;
}

h2 {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
}

.article {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    border: solid 1px #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.heading a {
    display: inline;
    color: #4a4a4a;
}

.heading a.comments {
    margin-left: 5px;
    font-size: 13px;
    color: #428bca;
}

.info {
    margin: 5px 0;
    color: #666;
}

.description img {
    float: left;
    margin: 5px 10px 7px 0;
}

.pagination-wrap {
    padding-bottom: 10px;
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination span.current {
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    display: inline-block;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination span a {
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    display: inline-block;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination span a:hover {
    text-decoration: none;
}
